{% extends 'layout.html' %}

{% block title %}Texpert{% endblock %}

{% block head %}
{% parent %}

<style>
  .hidden.menu {
    display: none;
  }

  .masthead.segment {
    min-height: 700px;
    padding: 1em 0em;
  }

  .masthead .logo.item img {
    margin-right: 1em;
  }

  .masthead .ui.menu .ui.button {
    margin-left: 0.5em;
  }

  .masthead h1.ui.header {
    margin-top: 3em;
    margin-bottom: 0em;
    font-size: 4em;
    font-weight: normal;
  }

  .masthead h2 {
    font-size: 1.7em;
    font-weight: normal;
  }

  .ui.vertical.stripe {
    padding: 8em 0em;
  }

  .ui.vertical.stripe h3 {
    font-size: 2em;
  }

  .ui.vertical.stripe .button + h3,
  .ui.vertical.stripe p + h3 {
    margin-top: 3em;
  }

  .ui.vertical.stripe .floated.image {
    clear: both;
  }

  .ui.vertical.stripe p {
    font-size: 1.33em;
  }

  .ui.vertical.stripe .horizontal.divider {
    margin: 3em 0em;
  }

  .quote.stripe.segment {
    padding: 0em;
  }

  .quote.stripe.segment .grid .column {
    padding-top: 5em;
    padding-bottom: 5em;
  }

  .footer.segment {
    padding: 5em 0em;
  }

  .secondary.pointing.menu .toc.item {
    display: none;
  }

  @media only screen and (max-width: 700px) {
    .ui.fixed.menu {
      display: none !important;
    }

    .secondary.pointing.menu .item,
    .secondary.pointing.menu .menu {
      display: none;
    }

    .secondary.pointing.menu .toc.item {
      display: block;
    }

    .masthead.segment {
      min-height: 350px;
    }

    .masthead h1.ui.header {
      font-size: 2em;
      margin-top: 1.5em;
    }

    .masthead h2 {
      margin-top: 0.5em;
      font-size: 1.5em;
    }
  }

</style>
{% endblock %}

{% block content %}
<style>
  #chart {
    background-color: transparent;
  }

  rect {
    fill: none;
    pointer-events: all;
  }

  pre {
    font-size: 18px;
  }

  line {
    stroke: #000;
    stroke-width: 1.5px;
  }

  path.link {
    fill: none;
    stroke: #666;
    stroke-width: 1px;
  }
  path.link.color-red {
    stroke: red;
  }

  circle {
    fill: steelblue;
    stroke: transparent;
    stroke-width: 3px;
  }

  text {
    font: 14px sans-serif;
    pointer-events: none;
  }

  text.shadow {
    stroke: #fff;
    stroke-width: 4px;
  }
</style>
<div class="ui large top fixed menu transition hidden">
  <div class="ui container">
    <a class="active item">Home</a>
    <a class="item">Mission</a>
    <a class="item">Technology</a>
    <a class="item">Demo</a>
    <a class="item">Demo 2</a>
  </div>
</div>
<div class="ui vertical inverted sidebar menu left">
  <a class="active item">Home</a>
  <a class="item">Mission</a>
  <a class="item">Technology</a>
  <a class="item">Demo</a>
  <a class="item">Demo 2</a>
</div>
<div class="pusher">
  <div class="ui inverted vertical masthead center aligned segment">
    <div class="ui container">
      <div class="ui large secondary inverted pointing menu">
        <a class="toc item">
          <i class="sidebar icon"></i>
        </a>
        <a class="active item">Home</a>
        <a class="item">Mission</a>
        <a class="item">Technology</a>
        <a class="item">Demo</a>
        <a class="item">Demo 2</a>
      </div>
    </div>

    <div class="ui text container">
      <h1 class="ui inverted header">
        Texpert
      </h1>
      <h2>Help people mastering the growing space of text</h2>
      <div class="ui huge primary button">See Demo<i class="right arrow icon"></i></div>
    </div>

  </div>

  <div class="ui vertical stripe segment">
    <div class="ui middle aligned stackable grid container">
      <div class="row">
        <div class="eight wide column">
          <h3 class="ui header">We are the expert of Text Mining</h3>
          <p>New level of text analysis via the combination of deep understanding of the language with brain-inspired computation</p>
          <h3 class="ui header">We Make Data looks intuitive</h3>
          <p>Build the ontology network from the text body and retrieve information such as latent relation between two terms for the user.</p>
        </div>
        <div class="six wide right floated column">
          <img src="assets/images/wireframe/white-image.png" class="ui large bordered rounded image">
        </div>
      </div>
      <div class="row">
        <div class="center aligned column">
          <a class="ui huge button">Check the demos out</a>
        </div>
      </div>
    </div>
  </div>

  <div class="ui vertical stripe quote segment">
    <div class="ui equal width stackable internally celled grid">
      <div class="center aligned row">
        <div class="column">
          <h3>"Utilizing modern technologies"</h3>
        </div>
        <div class="column">
          <h3>"Deep know-how in Data mining of texts"</h3>
        </div>
      </div>
    </div>
  </div>

  <div class="ui vertical stripe segment">
    <div class="ui text container">
      <h3 class="ui header">Breaking The Grid, Grabs Your Attention</h3>
      <p>Instead of focusing on content creation and hard work, we have learned how to master the art of doing nothing
        by providing massive amounts of whitespace and generic content that can seem massive, monolithic and worth your
        attention.</p>
      <a class="ui large button">Read More</a>
      <h4 class="ui horizontal header divider">
        <a href="#">Case Studies</a>
      </h4>
      <h3 class="ui header">Did We Tell You About Our Bananas?</h3>
      <p>Yes I know you probably disregarded the earlier boasts as non-sequitor filler content, but its really true. It
        took years of gene splicing and combinatory DNA research, but our bananas can really dance.</p>
      <a class="ui large button">I'm Still Quite Interested</a>
    </div>
  </div>

  <div id="chart"></div>
  <div class="ui inverted vertical footer segment">
    <div class="ui container">
      <div class="ui stackable inverted divided equal height stackable grid">
        <div class="three wide column">
          <h4 class="ui inverted header">About</h4>
          <div class="ui inverted link list">
            <a href="#" class="item">Sitemap</a>
            <a href="#" class="item">Contact Us</a>
            <a href="#" class="item">Religious Ceremonies</a>
            <a href="#" class="item">Gazebo Plans</a>
          </div>
        </div>
        <div class="three wide column">
          <h4 class="ui inverted header">Services</h4>
          <div class="ui inverted link list">
            <a href="#" class="item">Banana Pre-Order</a>
            <a href="#" class="item">DNA FAQ</a>
            <a href="#" class="item">How To Access</a>
            <a href="#" class="item">Favorite X-Men</a>
          </div>
        </div>
        <div class="seven wide column">
          <h4 class="ui inverted header">Footer Header</h4>
          <p>Extra space for a call to action inside the footer that could help re-engage users.</p>
        </div>
      </div>
    </div>
  </div>
</div>
<script>var links = {{nodeLinks | raw}};</script>
<script>
  var nodes = {};

  // Compute the distinct nodes from the links.
  links.forEach(function(link) {
    link.source = nodes[link.source] || (nodes[link.source] = {name: link.source});
    link.target = nodes[link.target] || (nodes[link.target] = {name: link.target});
  });

  var w = window.innerWidth,
      h = 1000;

  var force = d3.layout.force()
                .nodes(d3.values(nodes))
                .links(links)
                .size([w, h])
                .linkDistance(150)
                .charge(-400)
                .on("tick", tick)
                .start();

  var svg = d3.select("#chart").append("svg:svg")
              .attr("width", w)
              .attr("height", h);

  svg.append("svg:rect")
     .attr("width", w)
     .attr("height", h);

  // Per-type markers, as they don't inherit styles.
  svg.append("svg:defs").selectAll("marker")
     .data(["suit", "licensing", "resolved"])
     .enter().append("svg:marker")
     .attr("id", String)
     .attr("viewBox", "0 -5 10 10")
     .attr("refX", 15)
     .attr("refY", -1.5)
     .attr("markerWidth", 6)
     .attr("markerHeight", 6)
     .attr("orient", "auto")
     .append("svg:path")
     .attr("d", "M0,-5L10,0L0,5");

  var path = svg.append("svg:g").selectAll("path")
                .data(force.links())
                .enter().append("svg:path")
                .attr("class", function(d) {
                  return "link color-" + d.source.name;
                });

  var circle = svg.append("svg:g").selectAll("circle")
                  .data(force.nodes())
                  .enter().append("svg:circle")
                  .attr("r", 8)
                  .call(force.drag);

  var text = svg.append("svg:g").selectAll("g")
                .data(force.nodes())
                .enter().append("svg:g");

  // A copy of the text with a thick white stroke for legibility.
  text.append("svg:text")
      .attr("x", 12)
      .attr("y", ".31em")
      .attr("class", "shadow")
      .text(function(d) { return d.name; });

  text.append("svg:text")
      .attr("x", 12)
      .attr("y", ".31em")
      .text(function(d) { return d.name; });

  // Use elliptical arc path segments to doubly-encode directionality.
  function tick() {
    path.attr("d", function(d) {
      var dx = d.target.x - d.source.x,
          dy = d.target.y - d.source.y,
          dr = Math.sqrt(dx * dx + dy * dy);
      return "M" + d.source.x + "," + d.source.y + "A" + dr + "," + dr + " 0 0,1 " + d.target.x + "," + d.target.y;
    });

    circle.attr("transform", function(d) {
      return "translate(" + d.x + "," + d.y + ")";
    });

    text.attr("transform", function(d) {
      return "translate(" + d.x + "," + d.y + ")";
    });
  }

  function buildChart() {

  }
</script>
{% endblock %}
